Soal Ujian Data Science - Machine Learning
Lintang_Purwadhika

Soal 1 - Hunting Pemain Basket üèÄ


Anda adalah seorang manager klub basket ternama yang ingin merekrut pemain basket muda berbakat. Pemain yang Anda targetkan untuk direkrut memiliki kriteria sebagai berikut:

- Usia (Age) <= 25 tahun,
- Tinggi badan (Height) >= 180 cm,
- Berat badan (Weight) <= 90 kg,
- Rata-rata point (Average points scored) >= 6, dan
- Rata-rata rebound (Average rebounds grabbed) >= 3.

Tersedia 1 buah dataset (.csv) yang memuat data lengkap pemain basket liga profesional NBA (National Basketball Association). Unduh dataset via Kaggle: klik di sini. Dengan memanfaatkan dataset tersebut, buatlah sebuah file Jupyter notebook (.ipynb) yang berisi model machine learning untuk mengklasifikasikan data pemain muda Indonesia di bawah ini apakah tergolong pemain yang patut Anda rekrut atau tidak:

Name	Club	Country	Age	Height	Weight	Avg Points	Avg Rebounds
Andakara Prastawa Dyaksa	Pelita Jaya Bakrie	lintang Indonesia	24	190	90	7	6
Reggie Mononimbar	Pelita Jaya Bakrie	lintang Indonesia	21	185	86	6	3
Hardianus Lakudu	Satria Muda Pertamina Jakarta	lintang Indonesia	23	178	83	10	3
Kevin Yonas Sitorus	Satria Muda Pertamina Jakarta	lintang Indonesia	26	185	75	11	4
Arki Dikania Wisnu	Satria Muda Pertamina Jakarta	lintang Indonesia	20	183	80	5	2
Laurentius Steven Oei	Satria Muda Pertamina Jakarta	lintang Indonesia	21	191	85	4	10
Mei Joni	Stapac	lintang Indonesia	25	188	90	7	5
Vincent Rivaldi Kosasih	Stapac	lintang Indonesia	23	179	87	1	2
Hardian Wicaksono	Pacific Caesar Surabaya	lintang Indonesia	21	177	80	9	8
Brandon Jawato	Louvre Surabaya	lintang Indonesia	24	182	85	6	5
Requirements:

Buatlah sebuah file Jupyter Notebook (.ipynb).
Download & gunakan dataset NBA players. Bersihkan data, lakukan standardisasi & split menjadi 82% untuk training set & 18% untuk testing set.
Buatlah 3 model machine learning untuk klasifikasi (pilihan model bebas), lakukan hyperparameter tuning untuk menentukan nilai parameter terbaik tiap model.
Gunakan parameter terbaik model untuk melakukan prediksi pada testing set. Kemudian hitung evaluation metrics tiap model. Metrics yang wajib dihitung yakni: balanced accuracy, precision, recall, F1 score & ROC AUC score.
Bandingkan nilai tiap model & gunakan model terbaik yang diperoleh, untuk mengklasifikasi data pada tabel pemain muda Indonesia di atas, manakah pemain yang patut direkrut atau tidak. Tampilkan hasilnya dalam sebuah dataframe.
‚úÖ Commit & push source code jawaban soal ini ke Github Anda, buatlah repo dengan nama Ujian_Pemain_Basket. Kemudian lampirkan url link repo Github Anda via email ke lintang@purwadhika.com!

In [61]:
import numpy as np
import pandas as pd

In [62]:
dfBasket = pd.read_csv('all_seasons.csv')
dfBasket.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Chris Robinson,VAN,23.0,195.58,90.71840,Western Kentucky,USA,1996,2,...,4.6,1.7,1.6,-11.4,0.039,0.088,0.155,0.486,0.156,1996-97
1,1,Matt Fish,MIA,27.0,210.82,106.59412,North Carolina-Wilmington,USA,1992,2,...,0.3,0.8,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97
2,2,Matt Bullard,HOU,30.0,208.28,106.59412,Iowa,USA,Undrafted,Undrafted,...,4.5,1.6,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97
3,3,Marty Conlon,BOS,29.0,210.82,111.13004,Providence,USA,Undrafted,Undrafted,...,7.8,4.4,1.4,-9.0,0.083,0.152,0.167,0.542,0.101,1996-97
4,4,Martin Muursepp,DAL,22.0,205.74,106.59412,None,USA,1996,1,...,3.7,1.6,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97

In [63]:
dfBasket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9561 entries, 0 to 9560
Data columns (total 22 columns):
Unnamed: 0           9561 non-null int64
player_name          9561 non-null object
team_abbreviation    9561 non-null object
age                  9561 non-null float64
player_height        9561 non-null float64
player_weight        9561 non-null float64
college              9561 non-null object
country              9561 non-null object
draft_year           9561 non-null object
draft_round          9561 non-null object
draft_number         9561 non-null object
gp                   9561 non-null int64
pts                  9561 non-null float64
reb                  9561 non-null float64
ast                  9561 non-null float64
net_rating           9561 non-null float64
oreb_pct             9561 non-null float64
dreb_pct             9561 non-null float64
usg_pct              9561 non-null float64
ts_pct               9561 non-null float64
ast_pct              9561 non-null float64
season               9561 non-null object
dtypes: float64(12), int64(2), object(8)
memory usage: 1.6+ MB

In [64]:
dfBasket = dfBasket[['player_name', 'team_abbreviation', 'country', 'age', 'player_height', 'player_weight', 'pts', 'reb']]

dfBasket.head()

,player_name,team_abbreviation,country,age,player_height,player_weight,pts,reb
0,Chris Robinson,VAN,USA,23.0,195.58,90.71840,4.6,1.7
1,Matt Fish,MIA,USA,27.0,210.82,106.59412,0.3,0.8
2,Matt Bullard,HOU,USA,30.0,208.28,106.59412,4.5,1.6
3,Marty Conlon,BOS,USA,29.0,210.82,111.13004,7.8,4.4
4,Martin Muursepp,DAL,USA,22.0,205.74,106.59412,3.7,1.6

In [80]:
dfSoal = pd.DataFrame(
    np.array([
        ['Andakara Prastawa Dyaksa', 'Pelita Jaya Bakrie', 'Indonesia', 24, 190, 90, 7, 6],
        ['Reggie Mononimbar', 'Pelita Jaya Bakrie', 'Indonesia', 21, 185, 86, 6, 3],
        ['Hardianus Lakudu', 'Satria Muda Pertamina Jakarta', 'Indonesia', 23, 178, 83, 10, 3],
        ['Kevin Yonas Sitorus', 'Satria Muda Pertamina Jakarta', 'Indonesia', 26, 185, 75, 11, 4],
        ['Arki Dikania Wisnu', 'Satria Muda Pertamina Jakarta', 'Indonesia', 20, 183, 80, 5, 2],
        ['Laurentius Steven Oei', 'Satria Muda Pertamina Jakarta', 'Indonesia', 21, 191, 85, 4, 10],
        ['Mei Joni', 'Stapac', 'Indonesia', 25, 188, 90, 7, 5],
        ['Vincent Rivaldi Kosasih', 'Stapac', 'Indonesia', 23, 179, 87, 1, 2],
        ['Hardian Wicaksono', 'Pacific Caesar Surabaya', 'Indonesia', 21, 177, 80, 9, 8],
        ['Brandon Jawato', 'Louvre Surabaya', 'Indonesia', 24, 182, 85, 6, 5]
    ]), columns = ['Name', 'Club', 'Country', 'Age', 'Height', 'Weight', 'Avg_Points', 'Avg_Rebounds'])

dfSoal

,Name,Club,Country,Age,Height,Weight,Avg_Points,Avg_Rebounds
0,Andakara Prastawa Dyaksa,Pelita Jaya Bakrie,Indonesia,24,190,90,7,6
1,Reggie Mononimbar,Pelita Jaya Bakrie,Indonesia,21,185,86,6,3
2,Hardianus Lakudu,Satria Muda Pertamina Jakarta,Indonesia,23,178,83,10,3
3,Kevin Yonas Sitorus,Satria Muda Pertamina Jakarta,Indonesia,26,185,75,11,4
4,Arki Dikania Wisnu,Satria Muda Pertamina Jakarta,Indonesia,20,183,80,5,2
5,Laurentius Steven Oei,Satria Muda Pertamina Jakarta,Indonesia,21,191,85,4,10
6,Mei Joni,Stapac,Indonesia,25,188,90,7,5
7,Vincent Rivaldi Kosasih,Stapac,Indonesia,23,179,87,1,2
8,Hardian Wicaksono,Pacific Caesar Surabaya,Indonesia,21,177,80,9,8
9,Brandon Jawato,Louvre Surabaya,Indonesia,24,182,85,6,5

In [171]:
dfTarget = dfBasket[dfBasket['age'] <= 25][dfBasket['player_height'] >= 180][dfBasket['player_weight'] <= 90][dfBasket['pts'] >= 6][dfBasket['reb'] >= 3]
dfTarget['Label'] = 1

dfTarget.head()

C:\Users\rdyhr\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,player_name,team_abbreviation,country,age,player_height,player_weight,pts,reb,Label
105,Kerry Kittles,NJN,USA,23.0,195.58,81.192968,16.4,3.9,1
290,Allen Iverson,PHI,USA,22.0,182.88,74.842680,23.5,4.1,1
432,Eddie Jones,LAL,USA,25.0,198.12,86.182480,17.2,4.1,1
659,Kerry Kittles,NJN,USA,24.0,195.58,81.192968,17.2,4.7,1
835,Allen Iverson,PHI,USA,23.0,182.88,74.842680,22.0,3.7,1

In [172]:
dfNon = dfBasket.drop(dfTarget.index)
dfNon['Label'] = 0

dfNon.head()

,player_name,team_abbreviation,country,age,player_height,player_weight,pts,reb,Label
0,Chris Robinson,VAN,USA,23.0,195.58,90.71840,4.6,1.7,0
1,Matt Fish,MIA,USA,27.0,210.82,106.59412,0.3,0.8,0
2,Matt Bullard,HOU,USA,30.0,208.28,106.59412,4.5,1.6,0
3,Marty Conlon,BOS,USA,29.0,210.82,111.13004,7.8,4.4,0
4,Martin Muursepp,DAL,USA,22.0,205.74,106.59412,3.7,1.6,0

In [173]:
dfComplete = dfTarget.append(dfNon, ignore_index = True)
dfComplete.head()

,player_name,team_abbreviation,country,age,player_height,player_weight,pts,reb,Label
0,Kerry Kittles,NJN,USA,23.0,195.58,81.192968,16.4,3.9,1
1,Allen Iverson,PHI,USA,22.0,182.88,74.842680,23.5,4.1,1
2,Eddie Jones,LAL,USA,25.0,198.12,86.182480,17.2,4.1,1
3,Kerry Kittles,NJN,USA,24.0,195.58,81.192968,17.2,4.7,1
4,Allen Iverson,PHI,USA,23.0,182.88,74.842680,22.0,3.7,1

In [174]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [175]:
scaler = StandardScaler()
scaler.fit(dfComplete[['age', 'player_height', 'player_weight', 'pts', 'reb']])
z = scaler.transform(dfComplete[['age', 'player_height', 'player_weight', 'pts', 'reb']])

dfScale = pd.DataFrame(z, columns = ['age', 'player_height', 'player_weight', 'pts', 'reb'])
dfScale

           age  player_height  player_weight       pts       reb
0    -0.996742      -0.578993      -1.547931  1.414481  0.134256
1    -1.226609      -1.947428      -2.044815  2.620200  0.214448
2    -0.537007      -0.305306      -1.157521  1.550337  0.214448
3    -0.766874      -0.578993      -1.547931  1.550337  0.455022
4    -0.996742      -1.947428      -2.044815  2.365471  0.054065
...        ...            ...            ...       ...       ...
9556 -1.456477      -0.578993      -0.802604  0.497455 -0.146414
9557  0.382463      -0.031619      -0.270228 -1.115831 -0.226605
9558 -0.537007       2.157878       1.504359 -0.691282  0.775788
9559 -0.996742       1.063130       0.617065  0.021961  1.377224
9560  0.612331       0.242068       0.084689  1.295608  1.176746

[9561 rows x 5 columns]

In [176]:
xtr, xts, ytr, yts = train_test_split(
    dfScale[['age', 'player_height', 'player_weight', 'pts', 'reb']], dfComplete['Label'],
    test_size = .18
)

In [177]:
modelKN = KNeighborsClassifier()
modelDT = DecisionTreeClassifier()
modelLR = LogisticRegression()

modelKN.fit(xtr, ytr)
modelDT.fit(xtr, ytr)
modelLR.fit(xtr, ytr)

predictionKN = modelKN.predict(xts)
predictionDT = modelDT.predict(xts)
predictionLR = modelLR.predict(xts)

print('Accuracy KN :', metrics.accuracy_score(predictionKN, yts))
print('Accuracy DT :', metrics.accuracy_score(predictionDT, yts))
print('Accuracy LR :', metrics.accuracy_score(predictionLR, yts))

Accuracy KN : 0.9947704822777454
Accuracy DT : 1.0
Accuracy LR : 0.9814061592097618

In [178]:
from sklearn.model_selection import cross_val_score
print('Cross Validation Score KN :', cross_val_score(modelKN, xtr, ytr))
print('Cross Validation Score DT :', cross_val_score(modelDT, xtr, ytr))
print('Cross Validation Score LR :', cross_val_score(modelLR, xtr, ytr))

Cross Validation Score KN : [0.99234694 0.9942602  0.99234694 0.98915816 0.98852041]
Cross Validation Score DT : [1.         1.         1.         1.         0.99936224]
Cross Validation Score LR : [0.98341837 0.98469388 0.98341837 0.98086735 0.98022959]

In [179]:
print('Mean Cross Val KN :', np.mean(cross_val_score(modelKN, xtr, ytr)))
print('Mean Cross Val DT :', np.mean(cross_val_score(modelDT, xtr, ytr)))
print('Mean Cross Val LR :', np.mean(cross_val_score(modelLR, xtr, ytr)))

Mean Cross Val KN : 0.991326530612245
Mean Cross Val DT : 0.9998724489795918
Mean Cross Val LR : 0.9825255102040817

In [180]:
from sklearn.model_selection import GridSearchCV

In [181]:
modelKN.get_params()

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 5,
 'p': 2,
 'weights': 'uniform'}

In [182]:
modelDT.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': 'deprecated',
 'random_state': None,
 'splitter': 'best'}

In [183]:
modelLR.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [184]:
paramsKN = {'n_neighbors' : [5,6,7,8,9,10],
          'leaf_size' : [1,2,3,5],
          'weights' : ['uniform', 'distance'],
          'algorithm' : ['auto', 'ball_tree','kd_tree','brute'],
          'n_jobs' : [-1]}

paramsDT = {'max_features' : ['auto', 'sqrt', 'log2'],
          'min_samples_split' : [2,3,4,5,6,7,8,9,10,11,12,13,14,15], 
          'min_samples_leaf' : [1,2,3,4,5,6,7,8,9,10,11],
          'random_state' : [123]}

paramsLR = {'penalty' : ['l1', 'l2', 'elasticnet', 'none'],
          'solver' : ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'], 
          'max_iter' : [1, 10, 100, 1000, 10000]}


modelKNgs = GridSearchCV(modelKN, param_grid = paramsKN, n_jobs = 1)
modelDTgs = GridSearchCV(modelDT, param_grid = paramsDT, n_jobs=-1)
modelLRgs = GridSearchCV(modelLR, param_grid = paramsLR, n_jobs=-1)

modelKNgs.fit(xtr, ytr)
modelDTgs.fit(xtr, ytr)
modelLRgs.fit(xtr, ytr)

print('Best Hyper Parameters KN :', modelKNgs.best_params_)
print('Best Hyper Parameters DT :', modelDTgs.best_params_)
print('Best Hyper Parameters LR :', modelLRgs.best_params_)

Best Hyper Parameters KN : {'algorithm': 'auto', 'leaf_size': 1, 'n_jobs': -1, 'n_neighbors': 8, 'weights': 'distance'}
Best Hyper Parameters DT : {'max_features': 'auto', 'min_samples_leaf': 1, 'min_samples_split': 3, 'random_state': 123}
Best Hyper Parameters LR : {'max_iter': 10, 'penalty': 'none', 'solver': 'newton-cg'}
C:\Users\rdyhr\Anaconda3\lib\site-packages\sklearn\utils\optimize.py:212: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  "number of iterations.", ConvergenceWarning)

In [185]:
predictionKNgs = modelKNgs.predict(xts)
predictionDTgs = modelDTgs.predict(xts)
predictionLRgs = modelLRgs.predict(xts)

print('Accuracy KN :', metrics.accuracy_score(predictionKNgs, yts))
print('Accuracy DT :', metrics.accuracy_score(predictionDTgs, yts))
print('Accuracy LR :', metrics.accuracy_score(predictionLRgs, yts))

Accuracy KN : 0.9959325973271353
Accuracy DT : 0.9982568274259151
Accuracy LR : 0.9808251016850669

In [186]:
bestKN = KNeighborsClassifier(
    algorithm = 'auto', leaf_size = 1, n_jobs = -1, n_neighbors = 9, weights = 'uniform')

bestDT = DecisionTreeClassifier(
    max_features = 'auto', min_samples_leaf = 1, min_samples_split = 5, random_state = 123)

bestLR = LogisticRegression(max_iter = 10, penalty = 'none', solver = 'sag')

bestKN.fit(xtr, ytr)
bestDT.fit(xtr, ytr)
bestLR.fit(xtr, ytr)

bestPredictKN = bestKN.predict(xts)
bestPredictDT = bestDT.predict(xts)
bestPredictLR = bestLR.predict(xts)

print('Accuracy Best KN :', metrics.accuracy_score(bestPredictKN, yts))
print('Accuracy Best DT :', metrics.accuracy_score(bestPredictDT, yts))
print('Accuracy best LR :', metrics.accuracy_score(bestPredictLR, yts))

C:\Users\rdyhr\Anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
Accuracy Best KN : 0.9936083672283557
Accuracy Best DT : 0.9982568274259151
Accuracy best LR : 0.9814061592097618

In [187]:
from sklearn.metrics import confusion_matrix, balanced_accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [188]:
ypKN = bestKN.predict(dfComplete[['age', 'player_height', 'player_weight', 'pts', 'reb']]).tolist()
ypDT = bestDT.predict(dfComplete[['age', 'player_height', 'player_weight', 'pts', 'reb']]).tolist()
ypLR = bestLR.predict(dfComplete[['age', 'player_height', 'player_weight', 'pts', 'reb']]).tolist()

dfComplete['ypKN'] = ypKN
dfComplete['ypDT'] = ypDT
dfComplete['ypLR'] = ypLR
dfComplete.head()

,player_name,team_abbreviation,country,age,player_height,player_weight,pts,reb,Label,ypKN,ypDT,ypLR
0,Kerry Kittles,NJN,USA,23.0,195.58,81.192968,16.4,3.9,1,0,0,0
1,Allen Iverson,PHI,USA,22.0,182.88,74.842680,23.5,4.1,1,0,0,0
2,Eddie Jones,LAL,USA,25.0,198.12,86.182480,17.2,4.1,1,0,0,0
3,Kerry Kittles,NJN,USA,24.0,195.58,81.192968,17.2,4.7,1,0,0,0
4,Allen Iverson,PHI,USA,23.0,182.88,74.842680,22.0,3.7,1,0,0,0

In [189]:
print('Confusion Matrix KN :\n', confusion_matrix(dfComplete['Label'], dfComplete['ypKN']))
print('Confusion Matrix DT :\n', confusion_matrix(dfComplete['Label'], dfComplete['ypDT']))
print('Confusion Matrix LR :\n', confusion_matrix(dfComplete['Label'], dfComplete['ypLR']))

Confusion Matrix KN :
 [[9370    0]
 [ 191    0]]
Confusion Matrix DT :
 [[9370    0]
 [ 191    0]]
Confusion Matrix LR :
 [[9370    0]
 [ 191    0]]

In [190]:
print('bAcc KN =', balanced_accuracy_score(dfComplete['Label'], dfComplete['ypKN']))
print('bAcc DT =', balanced_accuracy_score(dfComplete['Label'], dfComplete['ypDT']))
print('bAcc LR =', balanced_accuracy_score(dfComplete['Label'], dfComplete['ypLR']))

bAcc KN = 0.5
bAcc DT = 0.5
bAcc LR = 0.5

In [196]:
print('Precision(+) KN =', precision_score(dfComplete['Label'], dfComplete['ypKN'], pos_label = 1))
print('Precision(+) DT =', precision_score(dfComplete['Label'], dfComplete['ypDT'], pos_label = 1))
print('Precision(+) LR =', precision_score(dfComplete['Label'], dfComplete['ypLR'], pos_label = 1))

print('Precision(-) KN =', precision_score(dfComplete['Label'], dfComplete['ypKN'], pos_label = 0))
print('Precision(-) DT =', precision_score(dfComplete['Label'], dfComplete['ypDT'], pos_label = 0))
print('Precision(-) LR =', precision_score(dfComplete['Label'], dfComplete['ypLR'], pos_label = 0))

Precision(+) KN = 0.0
Precision(+) DT = 0.0
Precision(+) LR = 0.0
Precision(-) KN = 0.9800230101453823
Precision(-) DT = 0.9800230101453823
Precision(-) LR = 0.9800230101453823
C:\Users\rdyhr\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [197]:
print('Recall(+) KN =', recall_score(dfComplete['Label'], dfComplete['ypKN'], pos_label = 1))
print('Recall(+) DT =', recall_score(dfComplete['Label'], dfComplete['ypDT'], pos_label = 1))
print('Recall(+) LR =', recall_score(dfComplete['Label'], dfComplete['ypLR'], pos_label = 1))

print('Recall(-) KN =', recall_score(dfComplete['Label'], dfComplete['ypKN'], pos_label = 0))
print('Recall(-) DT =', recall_score(dfComplete['Label'], dfComplete['ypDT'], pos_label = 0))
print('Recall(-) LR =', recall_score(dfComplete['Label'], dfComplete['ypLR'], pos_label = 0))

Recall(+) KN = 0.0
Recall(+) DT = 0.0
Recall(+) LR = 0.0
Recall(-) KN = 1.0
Recall(-) DT = 1.0
Recall(-) LR = 1.0

In [198]:
print('F1 Score(+) KN =', f1_score(dfComplete['Label'], dfComplete['ypKN'], pos_label = 1))
print('F1 Score(+) DT =', f1_score(dfComplete['Label'], dfComplete['ypDT'], pos_label = 1))
print('F1 Score(+) LR =', f1_score(dfComplete['Label'], dfComplete['ypLR'], pos_label = 1))

print('F1 Score(-) KN =', f1_score(dfComplete['Label'], dfComplete['ypKN'], pos_label = 0))
print('F1 Score(-) DT =', f1_score(dfComplete['Label'], dfComplete['ypDT'], pos_label = 0))
print('F1 Score(-) LR =', f1_score(dfComplete['Label'], dfComplete['ypLR'], pos_label = 0))

F1 Score(+) KN = 0.0
F1 Score(+) DT = 0.0
F1 Score(+) LR = 0.0
F1 Score(-) KN = 0.9899107284348423
F1 Score(-) DT = 0.9899107284348423
F1 Score(-) LR = 0.9899107284348423

In [199]:
print('ROC AUC Score KN =', roc_auc_score(dfComplete['Label'], dfComplete['ypKN']))
print('ROC AUC Score DT =', roc_auc_score(dfComplete['Label'], dfComplete['ypDT']))
print('ROC AUC Score LR =', roc_auc_score(dfComplete['Label'], dfComplete['ypLR']))

ROC AUC Score KN = 0.5
ROC AUC Score DT = 0.5
ROC AUC Score LR = 0.5

In [200]:
dfSoal['Label'] = bestDT.predict(dfSoal[['Age', 'Height', 'Weight', 'Avg_Points', 'Avg_Rebounds']])
print(dfSoal)

Name                           Club    Country Age  \
0  Andakara Prastawa Dyaksa             Pelita Jaya Bakrie  Indonesia  24
1         Reggie Mononimbar             Pelita Jaya Bakrie  Indonesia  21
2          Hardianus Lakudu  Satria Muda Pertamina Jakarta  Indonesia  23
3       Kevin Yonas Sitorus  Satria Muda Pertamina Jakarta  Indonesia  26
4        Arki Dikania Wisnu  Satria Muda Pertamina Jakarta  Indonesia  20
5     Laurentius Steven Oei  Satria Muda Pertamina Jakarta  Indonesia  21
6                  Mei Joni                         Stapac  Indonesia  25
7   Vincent Rivaldi Kosasih                         Stapac  Indonesia  23
8         Hardian Wicaksono        Pacific Caesar Surabaya  Indonesia  21
9            Brandon Jawato                Louvre Surabaya  Indonesia  24

  Height Weight Avg_Points Avg_Rebounds  Label
0    190     90          7            6      0
1    185     86          6            3      0
2    178     83         10            3      0
3    185     75         11            4      0
4    183     80          5            2      0
5    191     85          4           10      0
6    188     90          7            5      0
7    179     87          1            2      0
8    177     80          9            8      0
9    182     85          6            5      0